.vscode/
/thesis.aux
/thesis.fdb_latexmk
/thesis.fls
/thesis.log
/ch-appendicies/implementation.aux
/ch-discussion/discussion.aux
/ch-intro/intro.aux
/ch-lesion/intro.aux
/ch-methods/methods.aux
/ch-time/intro.aux
/thesis.bcf
/thesis.bib
/thesis.ist
/thesis.pdf
/thesis.run.xml
